{% if testimonials is not empty %}
    <button id="toggleTestimonials" type="button" class="btn btn-outline-dark rounded-5 mb-5" data-bs-toggle="modal" data-bs-target="#testimonialsModal">Voir tous les avis</button>
{#    <div id="servicesCarousel" class="carousel slide m-0 p-0 w-75 align-items-center mx-auto">#}
    <div id="customCarouselContainer" class="carousel slide w-75 m-0 p-0 align-items-center mx-auto">


{#        <div class="carousel-inner ">#}
{#            {% for testimonial in testimonials %}#}
{#                <div class="carousel-item {{ loop.first ? 'active' : '' }} justify-content-around">#}
{#                    {{ include('home/testimonial_card.html.twig') }}#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}

{#        <button class="carousel-control-prev bg-primary my-auto rounded-circle" type="button" data-bs-target="#servicesCarousel" data-bs-slide="prev" style="width: 50px; height: 50px">#}
{#            <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#            <span class="visually-hidden">Previous</span>#}
{#        </button>#}


{#        <button class="carousel-control-next bg-primary my-auto rounded-circle" type="button" data-bs-target="#servicesCarousel" data-bs-slide="next" style="width: 50px; height: 50px">#}
{#            <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#            <span class="visually-hidden">Next</span>#}
{#        </button>#}

        <div class="customCarousel mx-auto" id="customCarousel">
            {% for testimonial in testimonials %}
                <div class="customCarousel-item">
                    {{ include('home/testimonial_card.html.twig') }}
                </div>
            {% endfor %}
        </div>

        <button id="customCarousel-prev" class="carousel-control-prev bg-primary my-auto rounded-circle" type="button" style="width: 50px; height: 50px">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>


        <button id="customCarousel-next" class="carousel-control-next bg-primary my-auto rounded-circle" type="button" style="width: 50px; height: 50px">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>


    </div>
{% else %}
    <div class='alert alert-info'><p class='text-info text-center'>Aucun avis publié pour l'instant</p></div>
{% endif %}
