body {
  padding: 0;
  margin: 0;
}



.card-header:hover img {
  opacity: 50%;
  border: 1px solid black;
  transition: 0.2s;
}

.contactForm {
  width: 95%;
}
@media screen and (min-width: 768px) {
  .contactForm {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .contactForm {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .contactForm {
    width: 60%;
  }
}
@media screen and (min-width: 1400px) {
  .contactForm {
    width: 50%;
  }
}



