{% extends 'base.html.twig' %}

{% block main %}
    <div class="w-75 mx-auto min-vh-100">
        <h1 class="text-center p-5">{{ service.name }}</h1>
        <div class="float-end">
            {% if service.getImageServices is not empty %}
            <img class="" src="{{ asset('media/uploads/' ~ service.imageServices[0].filename) }}" style="width: 300px;">
            {% endif %}
        </div>
        <div>
            <p>{{ service.description }}</p>
            <p class="">{{ service.price }} €</p>
        </div>
    </div>
{% endblock %}

