{{ form_start(form) }}

    {{ form_row(form.email, {'attr': {'class': 'form-control '}}) }}

    <div class="my-5">
        <button class="btn btn-dark" type="submit">Rechercher</button>
        <a class="btn btn-light" href="{{ path('app_home_index') }}">Annuler</a>
    </div>

{{ form_end(form) }}