{%  extends 'base.html.twig' %}

{% block main %}

    <div class="container vh-100">
        <div class="login-form mt-4 p-4 ">
            <h1 class="text-center p-5">Choissisez un nouveau mot de passe</h1>

            <div class="mx-auto contactForm p-5 border border-3">
                {{ form_start(form) }}
                    {{ form_row(form.password) }}
                    <div class="my-5">
                        <button class="btn btn-dark" type="submit">Valider</button>
                        {#                    <a class="btn btn-light" href="{{ path('app_home_index') }}">Annuler</a>#}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}