{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block main %}
<h1 class="text-center m-5">Politique de protection des données personnelles</h1>

<div class="container">

    <div class="p-5 bg-warning-subtle">
        <strong  class="fw-bold">
            Le texte ci-dessous constitue la politique de confidentialté d'un site vitrine représentant une entreprise factice.
            Ce site web s'inscrit dans le cadre d'une évaluation de fin de formation initiée par l'organisme <a href="https://www.studi.com/fr">STUDI</a>.
            Cependant, les informations renseignées ci-après et relatives à l'utilisation des données personnelles s'appliquent réellement.
        </strong>
    </div>

    <br><br>

    <h2><b>Confidentialité</b></h2>

    <p>
        <span style="font-weight: 400;">
            Les seules données personnelles enregistrées dans notre base de données sont celles que vous consentez
            à partager lors de la soumission des formulaires présents sur l'application (formulaire de contact, de témoignage, d'inscription).
            Ces informations n'ont pour but que de nous permettre de vous recontacter en cas de besoin. Nous les utilisons dans le but d'améliorer notre qualité de service.
            Elles ne sont en aucun cas partagées à un quelconque service tier.
            Le traitement de vos données à caractère personnel est régi par le règlement général sur la protection des données du 27 avril 2016 («RGPD»).
        </span>
    </p>

    <h2><b>Cookies</b></h2>
    <p><span style="font-weight: 400;">
            Nous n'utilisons qu'un seul cookie sur l'application. Celui-ci est nécessaire au bon fonctionnement du site.
            Aucun autre cookie relatif à une quelconque stratégie de marketing, ou d'analyse statistique n'est actuellement utilisé.
            Cependant, selon l'évolution de la politique générale de la société,
            nous nous réservons le droit d'adapter le présent texte sur l'usage qu'il sera fait des cookies, auquel cas, l'utilisateur sera prévenu dès son arrivée sur le site et son consentement requis.
            En accédant à ce dernier, vous consentez à cela.
    </span></p>


</div>

{% endblock %}