<div class="container-fluid mx-auto m-0 p-0 px-2 px-sm-4 px-md-5">
    <ul id="cars-list-content" class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-5 justify-content-center m-0 p-0" >
        {% if cars is not empty  %}
        {% for car in cars.data %}
                {% include 'cars/cars_card.html.twig' %}
        {% endfor %}

        {% else %}
            <div class='alert alert-info'><p class='text-info text-center'>Aucun véhicule en vente</p></div>
        {% endif %}
    </ul>
</div>

