{% apply inline_css %}
    <h1>Bienvenue {{ firstname }}!</h1>
    <p>Afin de finaliser votre inscription, veuillez cliquer sur le lien de confirmation</p>
    <a href="{{ url }}">Validez votre inscription</a>
    <div><img src="{{ email.image('@images/logo4.webp') }}" alt="Logo"></div>

    <style>

        * {
            text-align: center;
        }

        h1 {
            padding: 20px;
            text-decoration: none;
            list-style: none;
            font-family: sans-serif;
        }

        p {
            padding: 25px;
            text-decoration: none;
            list-style: none;
            font-family: sans-serif;
        }

        a {
            padding: 20px;
            margin: 10px;
            color: white;
            background-color: #343a40;
            text-decoration: none;
            list-style: none;
            text-transform: uppercase;
            font-size: .875rem;
            font-weight: 600;
            font-family: sans-serif;
        }
        div img {
            padding-top: 20px;
            margin-top: 20px;
        }
    </style>
{% endapply %}